* {
    margin: 0;
    padding: 0;
}

.reset-button:hover {
    cursor: pointer;
}

#char-container {
    img {
        width: 60%;
    }
    display: grid;
    justify-items: center;
    align-items: center;
}